<div *ngIf="tokenService.isLoggedIn">
<div>
  <button class="btn btn-outline-secondary" value="submit" (click)="getCards()" >Get Cards</button>
</div>


<div *ngIf="cards">
  <div class="d-flex flex-wrap justify-content-around">
    <div *ngFor="let card of cards" class="col-md-4 col-lg-2">
        <span class="badge">{{card.name | titlecase}}</span>
      <div>
        <img src="https://api.scryfall.com/cards/named?exact={{card.name}}&format=image&version=small">
      </div>
    </div>
  </div>
</div>
</div>
